:root{
    --primary:#ffffff;
    --secondary:;
    --button:#

    --text:;
    --textbutton: #b40000;
    --background:;
    --font-family:;

}

*{
    box-sizing: border-box;
}



/*ESTILIZAÇÃO HEADER -MOBILE*/
.header-hamburguer{
    background-color: var(--primary);
    position: sticky;
    top: 0; /*define onde o position sticky tem que ficar*/
    z-index: 1000;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: solid 1px;
    
}

.header-title img {
    height: 40px;
    width: auto;
    max-width: 150px;
    padding: 0;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 30px;

}

.menu{
    border: none;
    background-color: var(--primary);
    padding: 0;
    cursor: pointer;
}

.header-datetime{
    text-align: right;
    font-size: 0.7rem;
    line-height: 2.1;
}

.header-datetime span {
    display: block;
}

/*ESTILIZAÇÃO HEADER - DESKTOP*/

@media (min-width: 768px) {

   body {
        height: 100vh;
        overflow: hidden; 
        display: flex;
        flex-direction: column;
    }

    /* O Header fica fixo no topo pelo flex do body */
    .header-hamburguer {
        height: 104px; 
        padding: 10px;
        border: solid 0.5px #ddd;
        /* flex-shrink: 0; */
    }

    .datetime{
        font-size: 1rem;
    }

    
    .layout {
        display: grid;
        grid-template-columns: 300px 1fr; /* Sidebar 300px e Main o resto */
        height: calc(100vh - 104px); 
        overflow: hidden;
    }

    .sidebar-filter {
        display: flex;
        flex-direction: column;
        border-right: 1px solid #ddd;
        overflow-y: auto; 
        height: 100%;
    }

    .main-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        padding: 20px;
        align-content: start;
        overflow-y: auto; /* Scroll apenas nos cards */
        height: 100%;
    }

    .menu-toggle {
        display: none;
    }

    .header-title img {
        width: 200px;
        height: 80px;
        object-fit: contain;
        margin-left: 50px;
    }

    .card{
       
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    
    transition: transform 0.3s ease-in-out;
    }

    .card:hover{
        transform: scale(1.05);
        cursor: pointer;
        
    }


    
    .card-body{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .card-img{
    
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .input-section {
            padding: 10px;
            border-radius: 10px;
        }
    
        .first-container {
            /*busca por nome*/
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 10px;
            margin-bottom: 25px;
        }
    
        .second-container {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin: 10px;
        }
    
        .clear {
            border: solid 1px var(--textbutton);
            color: var(--textbutton);
            padding: 10px;
            border-radius: 10px;
            margin-top: 10px;
            cursor: pointer;
    
        }
    
        .clear:hover {
            background-color: var(--textbutton);
            color: var(--primary);
        }
    
        .filter {
            padding: 0.7rem;
            border-radius: 10px;
        }
    
        .legend {
            display: flex;
            flex-direction: column;
            margin: 20px;
            gap: 10px;   }




}