:root{
    --primary:#13181a;
    --secondary:#222324;
    --terc: #76fc29;
    --button:#;
    --text: #fff;
    --textbutton: #b40000;
    --font-family1:"Audiowide";
}

/*TESTES*/
:root{
    --verdeportal:#97ce4c;
    --azulrick: #00b0c7;
    --amarelo-morty:#f0e144;
    --background:rgba(32, 35, 41, 0.9);
    --borda-neon:rgba(151, 206, 76, 0.5);
}

*{
    box-sizing: border-box;

}

/*ESTILIZAÇÃO HEADER - DESKTOP*/

@media (min-width: 768px) {

    h1,h2,.titulo-nome-personagem{
        font-family: var(--font-family1);
        font-weight: 500;
        letter-spacing: 2px;
    }

   body {
        height: 100vh;
        overflow: hidden; 
        display: flex;
        flex-direction: column;
        background: url('../img/teste2-fundo.jpeg') center center;
    }

    /* O Header fica fixo no topo pelo flex do body */
    .header-hamburguer {
        height: auto; 
        padding: 10px 20px;
        display: flex;
        min-height: 120px;
        border-bottom: 1px solid var(--borda-neon);
        
        /* flex-shrink: 0; */
    }

    .datetime{
        font-size: 1rem;
        color: var(--text);
    }

    
    .layout {
        display: grid;
        grid-template-columns: 300px 1fr; /* Sidebar 300px e Main o resto */
        height: calc(100vh - 120px); 
        overflow: hidden;
    }

    .sidebar-filter {
        display: flex;
        flex-direction: column;
        border-right: 1px solid var(--borda-neon);
        background-color: var(--background);
        height: 100%;
        padding-top: 15px;
    }


    .sidebar-search{
        font-family: var(--font-family1);
        font-size: 1.1rem;
        color: var(--azulrick);
    }

    .main-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        padding: 20px;
        align-content: start;
        overflow-y: auto; /* Scroll apenas nos cards */
        height: 100%;
    }

    .menu-toggle {
        display: none;
    }

    
    .header-title img {
        width: 230px;
        max-width: 100%;
        height: auto;
        margin-left: 20px;
        
    }

    .card{
    background-color: var(--background);
    /* border: 1px solid var(--verdeportal); */
    border-radius: 8px;
    color: var(--text);
    box-shadow: 0 2px 5px var(--verdeportal);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
    }

    .card:hover{
        transform: scale(1.05);
        cursor: pointer;
        box-shadow: 0 0 15px rgba(0,176,199,0.9);
        
    }

    
    .card-body{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .card-img{
    
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .input-section {
            padding: 10px;
            border-radius: 10px;

        }
    
        .first-container {
            /*busca por nome*/
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 10px;
            margin-bottom: 25px;
        }
    
        .second-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 10px;
        }
    
        .clear {
            border: solid 1px var(--textbutton);
            color: var(--textbutton);
            padding: 10px;
            border-radius: 10px;
            margin-top: 10px;
            cursor: pointer;
    
        }
    
        .clear:hover {
            background-color: var(--textbutton);
            color: var(--primary);
        }
    
        .filter {
            padding: 0.7rem;
            border-radius: 10px;
        }
    
        .legend {
            display: flex;
            flex-direction: column;
            margin: 20px;
            gap: 10px;   }

        .modal-criacao{
            display: flex;

        }

        .btn-fechar-modal{
            justify-content: flex-end;
        }




}