:root{
    --primary:#13181a;
    --secondary:#222324;
    --selects:rgba(124, 124, 124, 0.2);
    --text-selects: #797979;
    --terc: #6ddd2c;
    --button:#;
    --text: #fff;
    --textbutton: #b40000;
    --verdeportal: #97ce4c;
    --azulrick: #00b0c7;
    --amarelo-morty: #f0e144;
    --background: rgba(32, 35, 41, 0.9);
    --borda-neon: rgba(151, 206, 76, 0.5);
    --font-family1:"Audiowide";
    --font-family2:'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
}

h1,h2,.titulo-nome-personagem{
        font-family: var(--font-family1);
        font-weight: 500;
        letter-spacing: 2px;
    }

body {
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background: url('../img/teste2-fundo.jpeg') center center;
    }

    .header-hamburguer {
        height: auto; 
        padding: 10px 20px;
        display: flex;
        min-height: 120px;
        border-bottom: 1px solid var(--borda-neon);
        max-width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary);
    }

    .datetime{
        font-size: 1rem;
        color: var(--text);
    }

    
    .layout {
        display: grid;
        grid-template-columns: 300px 1fr; /* Sidebar 300px e Main o resto */
        height: calc(100vh - 120px); 
        overflow: hidden;
    }

    .sidebar-filter {
        display: flex;
        flex-direction: column;
        border-right: 1px solid var(--borda-neon);
        background-color: var(--background);
        height: 100%;
        padding-top: 15px;
    }

    

    .sidebar-search{
        font-family: var(--font-family1);
        font-size: 1.1rem;
        color: var(--terc);
    }

    .main-content {
        padding: 20px;
        align-content: start;
        overflow-y: auto; /* Scroll apenas nos cards */
        height: 100%;
    }

    .grid-cards{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
    }

    .menu-toggle {
        display: none;
    }

    
    .header-title img {
        width: 230px;
        max-width: 100%;
        height: auto;
        margin-left: 20px;
        
    }

    .card{
    background-color: var(--background);
    /* border: 1px solid var(--verdeportal); */
    border-radius: 8px;
    color: var(--text);
    box-shadow: 0 2px 5px var(--verdeportal);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
    }

    .card:hover{
        transform: scale(1.05);
        cursor: pointer;
        box-shadow: 0 0 15px rgba(0,176,199,0.9);
        
    }

    .card:hover .card-title{
        color: var(--azulrick);
       
    }
    
    .card-title{
       
        white-space: nowrap;
        display: block;
        width: 100%;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
    }
    


    .card-body{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }


        .card-img{
        
        display: block;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

        .input-section {
            padding: 12px;
            border-radius: 10px;
            border: none;
            color: var(--text);
            background-color: var(--selects);
        }

        .input-section::placeholder{
            font-family: var(--font-family2);
            font-size: 15px;
        }
    
        .first-container {
            /*busca por nome*/
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 10px;
            margin-bottom: 25px;
        }
    
        .second-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 10px;
        }
    
        .clear {
            border: solid 1px var(--textbutton);
            background-color: var(--background);
            color: var(--textbutton);
            padding: 10px;
            border-radius: 10px;
            margin-top: 10px;
            cursor: pointer;
            font-size: 0.9rem;
            transition: transform 0.5s ease-in-out;
    
        }
    
        .clear:hover {
            background-color: var(--textbutton);
            color: var(--text);
            transform:scale(1.02) ;
        }
    
        .filter {
            padding: 0.7rem;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            background-color: var(--selects);
            color: var(--text-selects);
            outline: none;
        }

        .filter:focus{
            border: 1px solid var(--terc);
            
        }

        .option-status{
            color: var(--terc );
            background-color: #222324;
           
        }
    
        .legend {
            display: flex;
            flex-direction: column;
            margin: 20px;
            gap: 10px;  
         }

         
         .legend p{
            color: var(--text);
            font-family:var(--font-family2)
         }
              
        .legend-status{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
        }

        .img{
            width: 25px;
            height: auto;
        }

        
        
        #modal-criacao::backdrop {
            background: rgba(0, 0, 0, 0.8);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px); 
             }
        
                /* Container do Modal */
                .modal-container {
                    width: 90vw;
                    max-width: 400px;
                    background-color: #1a1c20;
                    border-radius: 12px;
                    overflow: hidden;
                    color: white;
                    font-family: 'Inter', sans-serif;
                    border: 1px solid #333;
                }
        
                /* Header com IMG*/
                .modal-header {
                    position: relative;
                    height: 300px;
                }
        
                .modal-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
        
                .header-overlay {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    gap:10px;
                    padding: 20px;
                background: linear-gradient(transparent, #1a1c20);

    }

                .modal-titulo{
                    margin-bottom: 10px;
                    font-size: 1.5rem;
                }
        
                .btn-fechar-modal {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    border: none;
                    background: rgba(0, 0, 0, 0.5);
                    color: white;
                    cursor: pointer;
                    font-size: 20px;
                    z-index: 10;
                }
        
                .modal-lista-info {
                    list-style: none;
                    padding: 10px 20px 25px;
                    margin: 0;
                }
        
                .modal-lista-info li {
                    display: flex;
                    justify-content: space-between;
                    padding: 12px 0;
                    border-bottom: 1px solid #333;
                    font-size: 15px;
                }
        
                .modal-lista-info li span {
                    color: #888;
                
                }
        
                .modal-lista-info li strong {
                    color: #eee;
                    text-overflow: ellipsis;
                }
        
                .status-badge {
                    padding: 2px 10px;
                    border-radius: 10px;
                    font-size: 12px;
                    font-weight: bold;
                    margin-right: 8px;
                }
        
                .status-badge.alive {
                    background-color: #27ae60;
                }
        
                .status-badge.dead {
                    background-color: #eb5757;
                }
        
                .status-badge.unknown {
                    background-color: #4f4f4f;
                }
       
       
        .loading-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            grid-column: 1/-1;
            min-height: 300px;
            width: 100%;
            margin-top: 150px;
        }       
        
        .message{
            color: #00b0c7;
            font-family: var(--font-family1);
            text-transform: uppercase;
            font-size: 1.5rem;
            
        }

        .nave{
            animation: voo 3s ease-in-out infinite;
        }

        @keyframes voo{
            0%, 100%{
                transform:translateY(0) rotate(0deg);
            }
            25% { 
                transform: translateY(-20px) rotate(5deg); 
            }
            75% { 
                transform: translateY(20px) rotate(-5deg); 
            }
        }

        .message-error{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            grid-column: 1/-1;
            min-height: 300px;
            width: 100%;
            margin-top: 150px;
        }

        .error-message{
            color: var(--terc);
                font-family: var(--font-family1);
                text-transform: uppercase;
                font-size: 1.5rem;
        }


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    
}


.pag-botoes, #total-pages button {
    background-color: var(--background);
    border: 1px solid var(--verdeportal);
    color: var(--text);
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--font-family2);
    transition: all 0.3s ease;
    min-width: 40px;
}


#total-pages button:hover:not(.active) {
    background-color: var(--verdeportal);
    color: var(--primary);
    box-shadow: 0 0 10px var(--verdeportal);
}

#total-pages .active {
    background-color: var(--azulrick);
    border-color: var(--azulrick);
    color: white;
    font-weight: bold;
    box-shadow: 0 0 15px var(--azulrick);
    cursor: default;
}

.pag-botoes:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    border-color: #555;
}


#total-pages {
    display: flex;
    gap: 8px;
    align-items: center;
}

.icon-status {
    width: 20px;
    height: 20px;
}

.species{
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 768px) {
    .header-hamburguer {
        height: auto;
        padding: 10px;
        min-height: 80px;
        padding: 5px 15px;
    }


    .header-left{
        display: flex;
        gap: 15px;
    }

    .header-title img{
        width: 150px;
        margin-left: 0;

    }

    .menu-toggle {
        display: flex;
        z-index: 2000;
    }

    .menu{
        background-color:var(--primary);
        border: none;

    }

    .layout{
        display: flex;
        height: 100%;
       
    }

    .message-error{
        display: flex;
    }

    .message-error img{
        height: 200px;
    }

    .error-message{
        text-align: center;
    }

    .loading-container{
        display: flex;
    }

    .loading-container img{
        height: 200px;
    }

    .message{
        text-align: center;
    }

    .sidebar-filter {
        display: none;
    }

    .sidebar-filter.active {
        display: flex;
        left: 0;
    }

    .modal-container{
        width: 100%; 
        box-sizing: border-box;
    }

    .pagination {
        flex-wrap: wrap;
        gap: 5px;
        padding-bottom: 10px;
    }

    #total-pages{
        flex-wrap: wrap;
        justify-content: center;
    }

    .strong{
        white-space: nowrap;
        display: block;
        width: 100%;
        text-align: center;
        text-overflow: ellipsis;
    }
}